<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Test LoanApplication App!
  </h1>
</div>

<div class="row">
  <div class="column">
    <button (click)="getAll()">Get All Applications</button>
  </div>
  <div class="column">
    <button (click)="getOne()">Get One Application</button><br/><br/>
    <label>Please input application id</label><br/><br/>
    <input [(ngModel)]="applicationId" />
  </div>
  <div class="column">
    <button (click)="saveOne()">Save One Application</button><br/><br/>
    <label>Please input json request</label><br/><br/>
    <textarea [(ngModel)]="applicationJson" cols="40" rows="5"></textarea>
  </div>
</div>

<div>
<p class=output>HTTP Status:{{responseStatus}}</p>
<p class=output>Response content:{{responseContent}}</p>
</div>
